.container {
  width: 400px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #303e6b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


